<p>The classic player home mod, preserved - but cleaned and with script errors fixed.</p>
<div class="center">
  <a href="/img/abandoned-flat.png"><img src="/img/abandoned-flat.png" title="Your new home"/></a>
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\PlayerHomes\abandoned-flat

# Linux
/home/username/games/OpenMWMods/PlayerHomes/abandoned-flat

# macOS
/Users/username/games/OpenMWMods/PlayerHomes/abandoned-flat</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file, for example:
    <pre><code>data="C:\games\OpenMWMods\PlayerHomes\abandoned-flat"</code></pre>
  </li>
  <li>Enable the mod plugin via OpenMW-Launcher (<a href="https://www.youtube.com/watch?v=xzq_ksVuRgc">video</a>), or add this to <code>openmw.cfg</code> (<a href="https://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html#install">official OpenMW documentation</a>):
    <pre><code>content=Abandoned_Flat.esp</code></pre></li>
</ol>
